<app-navbar></app-navbar>
<div class="card">
    <div class="flex flex-wrap grid">
        <div *ngFor=" let articulo of articulos " class="col-3">
            <p-card [header]=" articulo.title " [subheader]="'AUTHOR: ' + articulo.author" [style]="{width: '360px', 'margin-bottom': '2em'} " styleClass="shadow-2 ">
                <ng-template pTemplate="header ">
                    <img alt="Card " [src]="articulo.urlToImage" [style]="{width: '300px'} ">
                </ng-template>
                <p>{{articulo.description}}</p>
                <ng-template pTemplate="footer">
                    <p-button label="Read News" [routerLink]="['/articulos/news', articulo.title]" icon="pi pi-book"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>